title = "Товар"
url = "/catalog/product/:id"
layout = "default"
is_hidden = 0

[product]

[comments]
==

<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Перегляд товару</h1>
                <p>The way to make components on October CMS.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% component 'product' %}
</div>

<div class="container">
    {% component 'comments' %}
</div>
<!-- Page Explanation -->
<div class="container">
    <div>
        <h3>Learn more about October's Components:</h3>
        <ul class="list-inline">
            <li><a target="_blank" href="https://octobercms.com/docs/plugin/components">How to build</a></li>
            <li><a target="_blank" href="https://octobercms.com/docs/cms/components">How to use</a></li>
        </ul>
    </div>
</div>