<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tовар</h3>
  </div>

{% set item =  product.getProduct(this.param.id) %}

  <div class="panel-body">
		{% partial __SELF__ ~ '::slider' %}
	    <h4 class="list-group-item-heading">{{ item.name }}</h4>
	    <p class="list-group-item-text">{{ item.description|raw }}</p>
	    <p class="list-group-item-text">Цена: {{ item.price }}грн.</p>
	    <p class="list-group-item-text">Рейтинг: {{ item.rate }}</p>
  </div>
</div>
