<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Список товара</h3>
  </div>
  <div class="panel-body">
    	<div class="list-group">
    		{% for product in catalog.getProducts %}
			  <a href="/test-blank/catalog/product/{{ product.id }}" class="list-group-item" >
			  	<img src="http://via.placeholder.com/140x100" >
			  	<!-- <img src="{{ product.attachments.0.path }}"> -->
			    <h4 class="list-group-item-heading">{{ product.name }}</h4>
			    <p class="list-group-item-text">{{ product.description|raw }}</p>
			  </a>
		  {% endfor %}
		</div>
  </div>
</div>